/node_modules
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/app/public/uploads/
/storage/app/public/uploads/*
/storage/app/public/partners/
/storage/app/public/partners/*
/storage/app/public/blog/
/storage/app/public/blog/*
/storage/app/public/testemonials/
/storage/app/public/testemonials/*
