.budget {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: $gap;

    &-infos,
    &-answer,
    &-answered {
        padding: $gap;
        @include section;

        h3 {
            margin: 0;
        }
    }

    &-infos {
        table {
            width: 100%;

            tr {
                &:nth-child(even) {
                    background: $bg;
                }

                th,
                td {
                    text-align: left;
                    padding: 5px 10px;

                    i {
                        margin-right: $gap;

                        &.fa-times {
                            color: $secondary;
                        }

                        &.fa-check {
                            color: green;
                        }
                    }
                }
            }
        }
    }

    &-answer,
    &-answered {
        &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
            margin-bottom: $gap;

            .btn-group {
                gap: 5px;

                >a,
                >div {
                    gap: 5px;
                    text-decoration: none
                }

                .add {
                    @include button($blue, white);
                }

                .remove,
                .revoke {
                    @include button($secondary, white);
                }

                .accept {
                    @include button(green, white);
                }

            }
        }
    }

    &-answered {
        &-list {
            padding: 0;
            margin: 0;
            width: 100%;

            li {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                padding: $gap;

                p {
                    margin: 0;
                }

                &:nth-child(odd) {
                    background: $bg;
                }
            }
        }

        .accordion {
            color: white;
            background-color: rgb(39, 81, 216);
            cursor: pointer;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 $gap;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-top: $gap;

            &.accepted {
                background-color: darkgreen;
            }

            &.active,
            &:hover {
                background-color: darken($color: rgb(39, 81, 216), $amount: 10%);
                color: white;

                &.accepted {
                    background-color: darkgreen;
                }
            }
        }

        .panel {
            display: none;
        }

        &-description {
            p {
                margin: 0;
                color: #666;
            }
        }
    }

    &-answer {
        &-list {
            .form {}
        }
    }

    &-summary {
        background: $bg;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 0 $gap;

        p {
            margin: 0;
        }
    }

    &-send {
        margin-top: $gap;

        .sendBudget {
            @include button($blue, white);
            gap: 5px;
        }
    }
}

#updateStatusForm {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;

    select {
        height: 30px;
        background-color: transparent;
        border: 1px solid lightgray;
        border-radius: 3px;
        width: 200px;
        font-size: 12px;
        padding: 0 5px;
    }

    button {
        border: 0;
        width: 30px;
        height: 30px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;

        i {
            margin: 0;
        }
    }
}
