$bc: #f1f1f1;

.payment {
    padding: $gap;
    @include section;
    width: 100%;
    display: flex;
    gap: $gap;

    &-info {
        flex: 1;

        &-header,
        &-summary {
            width: 100%;
            padding: 20px 10px;
            background: $bc;
            border: 1px solid $blue;
        }

        &-header {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            border-bottom-color: $blue;
            background: $blue;
            color: white;

            h6 {
                margin: 0;
            }
        }

        &-items {
            margin: 0;
            padding: 10px 0;
            border-left: 1px solid $blue;
            border-right: 1px solid $blue;
            display: flex;
            flex-direction: column;

            p {
                padding: 10px;
                margin: 0;
            }

            li {
                display: flex;
                width: 100%;
                justify-content: space-between;
                height: 50px;
                padding: 0 10px;
                align-items: center;

                &:nth-child(even) {
                    background: $bc;
                }
            }
        }

        &-summary {
            display: flex;
            justify-content: space-between;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            font-weight: bold;
            border-top-color: $blue;
        }
    }

    &-card {
        flex: 1.5;
    }
}

.aproving {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
