$navWidth: 200px;

.profile {
    @include tablet {
        flex-direction: row;
    }

    &-navlist {
        @include section;
        padding: 0;
        width: $navWidth;

        @include mobile-only {
            width: 100%;
        }

        li {
            color: $text;
            height: 60px;
            font-size: 0.9em;
            display: flex;
            align-items: center;
            padding: 0 $gap;

            &:not(:last-child) {
                border-bottom: 1px solid lightgray;
            }

            &:hover {
                cursor: default;

                &:not(:first-child) {
                    cursor: pointer;
                    background: $bg;
                }
            }
        }

        &-title {
            font-weight: 600;
        }
    }

    &-context {
        width: calc(100% - calc(#{$navWidth} - #{$gap}));

        @include mobile-only {
            width: 100%;
        }

        &-section {
            @include section;
            height: auto;
            padding: $gap;
            margin-bottom: $gap;
            display: none;

            &.active {
                display: block;
            }

            &-header {
                margin-bottom: 20px;
            }

            &-content {
                display: flex;
                justify-content: space-between;
                gap: $gap;

                @include mobile-only {
                    flex-direction: column-reverse;
                }

                &-form {
                    flex: 2;
                    display: flex;
                    align-items: center;
                }

                &-picture {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    flex-direction: column;
                    gap: $gap;

                    img {
                        height: 150px;
                        border-radius: 100px;
                        width: 150px;
                        object-fit: cover;
                        object-position: center;
                    }

                    label {
                        align-self: center;
                        @include button($primary, white);
                    }

                    small {
                        text-align: center;
                    }
                }
            }
        }
    }
}
