@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);
@-webkit-keyframes splide-loading{0%{transform:rotate(0)}to{transform:rotate(1turn)}}@keyframes splide-loading{0%{transform:rotate(0)}to{transform:rotate(1turn)}}.splide__container{position:relative;box-sizing:border-box}.splide__list{margin:0!important;padding:0!important;width:-webkit-max-content;width:-moz-max-content;width:max-content;will-change:transform}.splide.is-active .splide__list{display:flex}.splide__pagination{display:inline-flex;align-items:center;width:95%;flex-wrap:wrap;justify-content:center;margin:0}.splide__pagination li{list-style-type:none;display:inline-block;line-height:1;margin:0}.splide{visibility:hidden}.splide,.splide__slide{position:relative;outline:none}.splide__slide{box-sizing:border-box;list-style-type:none!important;margin:0;flex-shrink:0}.splide__slide img{vertical-align:bottom}.splide__slider{position:relative}.splide__spinner{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display:inline-block;width:20px;height:20px;border-radius:50%;border:2px solid #999;border-left-color:transparent;-webkit-animation:splide-loading 1s linear infinite;animation:splide-loading 1s linear infinite}.splide__track{position:relative;z-index:0;overflow:hidden}.splide--draggable>.splide__track>.splide__list>.splide__slide{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.splide--fade>.splide__track>.splide__list{display:block}.splide--fade>.splide__track>.splide__list>.splide__slide{position:absolute;top:0;left:0;z-index:0;opacity:0}.splide--fade>.splide__track>.splide__list>.splide__slide.is-active{position:relative;z-index:1;opacity:1}.splide--rtl{direction:rtl}.splide--ttb>.splide__track>.splide__list{display:block}.splide--ttb>.splide__pagination{width:auto}.splide__arrow{position:absolute;z-index:1;top:50%;transform:translateY(-50%);width:2em;height:2em;border-radius:50%;display:flex;align-items:center;justify-content:center;border:none;padding:0;opacity:.7;background:#ccc}.splide__arrow svg{width:1.2em;height:1.2em}.splide__arrow:hover{cursor:pointer;opacity:.9}.splide__arrow:focus{outline:none}.splide__arrow--prev{left:1em}.splide__arrow--prev svg{transform:scaleX(-1)}.splide__arrow--next{right:1em}.splide__pagination{position:absolute;z-index:1;bottom:.5em;left:50%;transform:translateX(-50%);padding:0}.splide__pagination__page{display:inline-block;width:8px;height:8px;background:#ccc;border-radius:50%;margin:3px;padding:0;transition:transform .2s linear;border:none;opacity:.7}.splide__pagination__page.is-active{transform:scale(1.4);background:#fff}.splide__pagination__page:hover{cursor:pointer;opacity:.9}.splide__pagination__page:focus{outline:none}.splide__progress__bar{width:0;height:3px;background:#ccc}.splide--nav>.splide__track>.splide__list>.splide__slide{border:3px solid transparent}.splide--nav>.splide__track>.splide__list>.splide__slide.is-active{border-color:#000}.splide--nav>.splide__track>.splide__list>.splide__slide:focus{outline:none}.splide--rtl>.splide__arrows .splide__arrow--prev,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--prev{right:1em;left:auto}.splide--rtl>.splide__arrows .splide__arrow--prev svg,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--prev svg{transform:scaleX(1)}.splide--rtl>.splide__arrows .splide__arrow--next,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--next{left:1em;right:auto}.splide--rtl>.splide__arrows .splide__arrow--next svg,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--next svg{transform:scaleX(-1)}.splide--ttb>.splide__arrows .splide__arrow,.splide--ttb>.splide__track>.splide__arrows .splide__arrow{left:50%;transform:translate(-50%)}.splide--ttb>.splide__arrows .splide__arrow--prev,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--prev{top:1em}.splide--ttb>.splide__arrows .splide__arrow--prev svg,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--prev svg{transform:rotate(-90deg)}.splide--ttb>.splide__arrows .splide__arrow--next,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--next{top:auto;bottom:1em}.splide--ttb>.splide__arrows .splide__arrow--next svg,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--next svg{transform:rotate(90deg)}.splide--ttb>.splide__pagination{display:flex;flex-direction:column;bottom:50%;left:auto;right:.5em;transform:translateY(50%)}
* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.to-top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  background-color: #61C2C7;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all ease 0.4s;
  cursor: pointer;
}

.nav {
  height: 60px;
  width: 100%;
  transition: all ease 0.2s;
  position: fixed;
  z-index: 9;
  top: 0;
}
.nav.fixed {
  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: 0 0 10px -2px lightgray;
}
.nav.fixed .nav-navbar-links-link {
  color: #2E2E2E;
}
.nav.fixed .nav-navbar-links-link.active {
  color: #61C2C7;
}
@media (max-width: 599px) {
  .nav.fixed .nav-navbar-links-link.active {
    color: rgba(255, 255, 255, 0.92);
  }
}
.nav-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media (max-width: 599px) {
  .nav-navbar {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .nav-navbar {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .nav-navbar {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.nav-navbar-logo {
  display: flex;
  gap: 15px;
  align-items: center;
  height: 40px;
}
.nav-navbar-logo img {
  height: 100%;
}
.nav-navbar-logo p {
  margin: 0;
  font-size: 1.2em;
  font-weight: 400;
  color: #61C2C7;
}
.nav-navbar-links {
  gap: 0 15px;
  height: 100%;
  display: flex;
}
@media (max-width: 599px) {
  .nav-navbar-links {
    position: fixed;
    height: calc(100% - 60px);
    width: 100%;
    right: -100%;
    top: 60px;
    flex-direction: column;
    gap: 0;
    transition: all ease 0.2s;
    background-color: white;
  }
  .nav-navbar-links.open {
    right: 0;
  }
}
.nav-navbar-links-link {
  color: #2E2E2E;
  height: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 599px) {
  .nav-navbar-links-link {
    color: #2E2E2E;
    height: 60px;
    padding: 0 15px;
    border-bottom: 1px solid lightgray;
    width: 100%;
  }
}
.nav-navbar-links-link.active {
  color: #61C2C7;
  border-bottom: 1.5px solid;
}
@media (max-width: 599px) {
  .nav-navbar-links-link.active {
    color: #F7F7F8;
    background-color: #61C2C7;
  }
}
.nav-navbar-toggle {
  display: none;
}
@media (max-width: 599px) {
  .nav-navbar-toggle {
    display: flex;
    gap: 5px 0;
    flex-direction: column;
    width: 25px;
    position: relative;
  }
  .nav-navbar-toggle span {
    height: 2px;
    width: 100%;
    content: "";
    background-color: #2E2E2E;
    transition: all ease 0.3s;
    opacity: 1;
  }
  .nav-navbar-toggle.open span:first-child {
    opacity: 0;
  }
  .nav-navbar-toggle.open span:nth-child(2) {
    transform: rotateZ(45deg);
    position: absolute;
    top: 7px;
  }
  .nav-navbar-toggle.open span:last-child {
    transform: rotateZ(-45deg);
  }
}

.banner {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(-18deg, #acdfe2, #e5f5f6 80%);
}
.banner-container {
  display: flex;
  align-items: center;
  height: 100vh;
}
.banner-container-text {
  position: relative;
  z-index: 1;
}
@media (max-width: 599px) {
  .banner-container-text {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .banner-container-text {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .banner-container-text {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.banner-container-text h4 {
  margin-bottom: 0;
  font-size: 22px;
  color: #61C2C7;
}
.banner-container-text h2 {
  margin: 20px 0 30px;
  line-height: 1;
  color: #2E2E2E;
  font-size: 30px;
}
@media (min-width: 600px) and (max-width: 1199px) {
  .banner-container-text h2 {
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  .banner-container-text h2 {
    max-width: 70%;
    font-size: 60px;
  }
}
.banner-container-text p {
  margin-bottom: 30px;
  color: #2E2E2E;
}
@media (min-width: 1200px) {
  .banner-container-text p {
    max-width: 60%;
  }
}
.banner-container-text a {
  background-color: #61C2C7;
  padding: 0 22.5px;
  height: 40px;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  color: white;
  font-weight: 600;
  border-radius: 100px;
  border: 2px solid #61C2C7;
  transition: all ease 0.2s;
  cursor: pointer;
}
.banner-container-text a:hover {
  background-color: transparent;
  color: #61C2C7;
}
.banner-container-text:before {
  position: absolute;
  width: 300px;
  left: -60px;
  top: -60px;
  bottom: -60px;
  background-image: radial-gradient(#bfe6e8 3px, transparent 3px);
  background-size: 30px 30px;
  content: "";
  z-index: -1;
}

.how-it-works {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 599px) {
  .how-it-works {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .how-it-works {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .how-it-works {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.how-it-works-title h4 {
  font-size: 1.4em;
  margin-bottom: 20px;
}
.how-it-works-container {
  display: flex;
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: white;
  box-shadow: 0 0 15px 0 lightgray;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}
@media (min-width: 600px) and (max-width: 1199px) {
  .how-it-works-container {
    padding: 15px;
  }
}
@media (max-width: 599px) {
  .how-it-works-container {
    flex-direction: column;
    width: 70%;
    gap: 20px;
  }
}
.how-it-works-container-item {
  width: 160px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.how-it-works-container-item:not(:last-child) {
  border-right: 1px solid #ededed;
}
.how-it-works-container-item img {
  max-height: 55px;
}
.how-it-works-container-item span {
  color: #2E2E2E;
  font-size: 0.9em;
}
@media (min-width: 600px) and (max-width: 1199px) {
  .how-it-works-container-item {
    width: 140px;
    height: 70px;
  }
}
@media (max-width: 599px) {
  .how-it-works-container-item {
    width: 100%;
    padding: 0 0 10px;
  }
  .how-it-works-container-item:not(:last-child) {
    border-right: 0;
    border-bottom: 1px solid #ededed;
  }
}

.why-us {
  padding: 50px 0;
  background: #F7F7F8;
}
@media (min-width: 1200px) {
  .why-us {
    padding: 100px 0 50px;
  }
}
.why-us-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 599px) {
  .why-us-container {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .why-us-container {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .why-us-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media (max-width: 599px) {
  .why-us-container {
    flex-direction: column;
    gap: 20px 0;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .why-us-container {
    flex-direction: column-reverse;
  }
}
.why-us-container-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.why-us-container-boxes .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
@media (min-width: 1200px) {
  .why-us-container-boxes .boxes {
    gap: 30px;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .why-us-container-boxes .boxes {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.why-us-container-boxes .boxes-item {
  box-shadow: 2px 4px 10px -2px lightgray;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 15px;
  color: #2E2E2E;
  background: white;
  height: 100%;
  width: 160px;
}
@media (min-width: 1200px) {
  .why-us-container-boxes .boxes-item {
    height: 200px;
    width: 200px;
  }
}
.why-us-container-boxes .boxes-item img {
  max-height: 64px;
  margin: 10px auto 20px;
}
.why-us-container-boxes .boxes-item p {
  margin: 0;
  font-weight: 600;
}
.why-us-container-boxes .boxes-item span {
  font-size: 0.8em;
}
.why-us-container-text {
  flex: 1;
}
@media (min-width: 600px) and (max-width: 1199px) {
  .why-us-container-text {
    margin-bottom: 40px;
  }
}
.why-us-container-text-content {
  color: #2E2E2E;
}
.why-us-container-text-content h5 {
  font-size: 40px;
  margin: 0;
}
.why-us-container-text-content span {
  color: #6caaa8;
}
.why-us-container-text-content p {
  margin: 20px 0;
}
.why-us-container-text-content a {
  background-color: #61C2C7;
  padding: 0 22.5px;
  height: 40px;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  color: white;
  font-weight: 600;
  border-radius: 100px;
  border: 2px solid #61C2C7;
  transition: all ease 0.2s;
  cursor: pointer;
}
.why-us-container-text-content a:hover {
  background-color: transparent;
  color: #61C2C7;
}

.pet {
  background-color: #61C2C7;
}
@media (max-width: 599px) {
  .pet {
    padding: 50px 0;
  }
}
.pet-container {
  background: url("../storage/icons/pets.png");
  background-repeat: no-repeat;
  background-position: center right;
}
@media (max-width: 599px) {
  .pet-container {
    background-position: center;
    background-blend-mode: color;
  }
}
.pet-container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  color: white;
  flex-direction: column;
}
@media (max-width: 599px) {
  .pet-container-text {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .pet-container-text {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .pet-container-text {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.pet-container-text h2 {
  font-size: 40px;
  margin: 0;
}
@media (min-width: 600px) and (max-width: 1199px) {
  .pet-container-text h2 {
    text-align: center;
  }
}
.pet-container-text p {
  margin: 0;
}
.pet-container-text button {
  background-color: white;
  padding: 0 22.5px;
  height: 40px;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  color: #61C2C7;
  font-weight: 600;
  border-radius: 100px;
  border: 2px solid white;
  transition: all ease 0.2s;
  cursor: pointer;
  margin: 40px auto 0;
}
.pet-container-text button:hover {
  background-color: transparent;
  color: white;
}

.blog {
  padding: 30px 0 50px;
  background: #F7F7F8;
}
.blog-container {
  color: #2E2E2E;
}
@media (max-width: 599px) {
  .blog-container {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .blog-container {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .blog-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.blog-container h2 {
  font-size: 40px;
  text-align: center;
  margin: 0;
}
.blog-container h6 {
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  margin: 0;
}
.blog-container-link {
  background-color: #61C2C7;
  padding: 0 22.5px;
  height: 40px;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  color: white;
  font-weight: 600;
  border-radius: 100px;
  border: 2px solid #61C2C7;
  transition: all ease 0.2s;
  cursor: pointer;
  margin: 0 auto;
}
.blog-container-link:hover {
  background-color: transparent;
  color: #61C2C7;
}
.blog-container .posts {
  margin: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}
@media (max-width: 599px) {
  .blog-container .posts {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .blog-container .posts {
    grid-template-columns: 1fr 1fr;
  }
}
.blog-container .posts p {
  margin: 0;
  color: #2E2E2E;
}
.blog-container .posts-item {
  box-shadow: 0 0 5px 0 lightgray;
  overflow: hidden;
  border-radius: 10px;
  background: white;
}
.blog-container .posts-item-image {
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.blog-container .posts-item-image img {
  width: 100%;
  height: 100%;
}
.blog-container .posts-item-title {
  padding: 10px 15px;
  font-size: 1.1em;
  max-width: 100%;
  font-weight: 500;
  overflow: hidden;
}
.blog-container .posts-item-text {
  padding: 15px;
  font-size: 0.83em;
  border-bottom: 1px solid #F7F7F8;
  border-top: 1px solid #F7F7F8;
  min-height: 120px;
}
.blog-container .posts-item-footer {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}
.blog-container .posts-item-footer p {
  font-size: 0.9em;
  color: #aeaeae;
}
.blog-container .posts-item-footer a {
  color: #61C2C7;
  font-size: 0.9em;
}
.blog-section-banner {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-18deg, #87d1d4, #bfe6e8 60%);
  position: relative;
  flex-direction: column;
}
.blog-section-banner:before {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background-image: radial-gradient(#bfe6e8 3px, transparent 3px);
  background-size: 30px 30px;
  content: "";
  z-index: 1;
}
.blog-section-banner h3 {
  font-size: 3.5em;
  color: white;
  z-index: 2;
  margin: 0;
  line-height: 1;
}
.blog-section-banner-breadcrumb {
  padding: 0;
  z-index: 2;
  display: flex;
  gap: 7.5px;
}
.blog-section-banner-breadcrumb li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.5px;
}
.blog-section-banner-breadcrumb li a,
.blog-section-banner-breadcrumb li span {
  color: white;
}
.blog-section-banner-breadcrumb li:not(:last-child):after {
  content: ">";
  color: white;
}
.blog-section-content {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding-top: 60px !important;
  padding-bottom: 45px !important;
  flex-direction: column;
}
@media (max-width: 599px) {
  .blog-section-content {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .blog-section-content {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .blog-section-content {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .blog-section-content {
    flex-direction: row;
  }
}
.blog-section-content .blog-content {
  flex: 3;
}
.blog-section-content .blog-content .no-posts {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-section-content .blog-content .no-posts h2 {
  margin: 0;
}
.blog-section-content .blog-content-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
@media (min-width: 600px) and (max-width: 1199px) {
  .blog-section-content .blog-content-posts {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 599px) {
  .blog-section-content .blog-content-posts {
    grid-template-columns: 1fr;
  }
}
.blog-section-content .blog-content-posts .post {
  max-width: 100%;
  border: 1px solid lightgray;
  color: #2E2E2E;
  position: relative;
  overflow: hidden;
  background: white;
  transition: all ease 0.1s;
}
.blog-section-content .blog-content-posts .post-image {
  height: 250px;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .blog-section-content .blog-content-posts .post-image {
    height: 200px;
  }
}
.blog-section-content .blog-content-posts .post-image img {
  width: 100%;
  height: 100%;
}
.blog-section-content .blog-content-posts .post-text {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  min-height: 190px;
}
.blog-section-content .blog-content-posts .post-text h4,
.blog-section-content .blog-content-posts .post-text p,
.blog-section-content .blog-content-posts .post-text a {
  margin: 0;
}
.blog-section-content .blog-content-posts .post-text h4 {
  font-weight: 500;
}
.blog-section-content .blog-content-posts .post-text p {
  font-size: 0.9em;
  text-align: justify;
}
.blog-section-content .blog-content-posts .post-text-footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.blog-section-content .blog-content-posts .post-text-footer a {
  color: #61C2C7;
  font-size: 0.9em;
}
.blog-section-content .blog-content-posts .post-text-footer small {
  color: lightgray;
}
.blog-section-content .blog-content-banner {
  max-width: 100%;
}
.blog-section-content .blog-content-banner img {
  max-width: 100%;
}
.blog-section-content .blog-content-text {
  text-align: justify;
  margin: 40px 0;
}
.blog-section-content .blog-content-text p,
.blog-section-content .blog-content-text ul,
.blog-section-content .blog-content-text span,
.blog-section-content .blog-content-text h1,
.blog-section-content .blog-content-text h2,
.blog-section-content .blog-content-text h3,
.blog-section-content .blog-content-text h4,
.blog-section-content .blog-content-text h5,
.blog-section-content .blog-content-text h6 {
  margin: 0;
  padding: 0;
  color: #2E2E2E;
}
.blog-section-content .blog-aside {
  flex: 1;
}
.blog-section-content .blog-aside-blocks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
@media (min-width: 600px) and (max-width: 1199px) {
  .blog-section-content .blog-aside-blocks {
    grid-template-columns: 1fr 1fr;
  }
}
.blog-section-content .blog-aside-blocks .block {
  border: 1px solid lightgray;
  padding: 15px;
}
.blog-section-content .blog-aside-blocks .block h5 {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 15px;
  font-weight: 600;
  color: #2E2E2E;
}
.blog-section-content .blog-aside-blocks .block-search-form {
  width: 100%;
}
.blog-section-content .blog-aside-blocks .block-search-form-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.blog-section-content .blog-aside-blocks .block-search-form-input input {
  width: 100%;
  padding: 10px;
  background: #f5f8fa;
  border: none;
}
.blog-section-content .blog-aside-blocks .block-search-form-input button {
  background-color: #61C2C7;
  padding: 0 22.5px;
  height: 40px;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  color: white;
  font-weight: 600;
  border-radius: 100px;
  border: 2px solid #61C2C7;
  transition: all ease 0.2s;
  cursor: pointer;
  border-radius: 0;
}
.blog-section-content .blog-aside-blocks .block-search-form-input button:hover {
  background-color: transparent;
  color: #61C2C7;
}
.blog-section-content .blog-aside-blocks .block-instagram-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.blog-section-content .blog-aside-blocks .block-instagram-images img {
  width: 100%;
}
@media (min-width: 600px) and (max-width: 1199px) {
  .blog-section-content .blog-aside-blocks .block-social {
    display: none;
  }
}
.blog-section-content .blog-aside-blocks .block-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.blog-section-content .blog-aside-blocks .block-social-links a {
  color: #2E2E2E;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
}
.blog-section-content .blog-aside-blocks .block-categories-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 5px;
}
.blog-section-content .blog-aside-blocks .block-categories-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid lightgray;
}
.blog-section-content .blog-aside-blocks .block-categories-list li:last-child {
  border-bottom-color: transparent;
}
.blog-section-content .blog-aside-blocks .block-categories-list li p,
.blog-section-content .blog-aside-blocks .block-categories-list li a {
  color: #2E2E2E;
  margin: 0;
}
.blog-section-content .blog-aside-blocks .block-feed-posts {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 10px;
}
.blog-section-content .blog-aside-blocks .block-feed-posts li a {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #2E2E2E;
}
.blog-section-content .blog-aside-blocks .block-feed-posts li a img {
  max-height: 70px;
  max-width: 70px;
}
.blog-section-content .blog-aside-blocks .block-feed-posts li a span p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 500;
}
.blog-section-content .blog-aside-blocks .block-feed-posts li a span small {
  color: lightgray;
}

.parceiros {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
  text-align: center;
}
@media (max-width: 599px) {
  .parceiros {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .parceiros {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .parceiros {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.parceiros h2 {
  margin: 0 0 20px;
  color: #2E2E2E;
  font-size: 2em;
}
.parceiros .splide__slide img {
  border-radius: 10px;
  width: 150px;
  height: 75px;
}
@media (max-width: 599px) {
  .parceiros .splide__slide img {
    width: 100%;
    height: 100%;
  }
}
.parceiros .splide__arrow {
  background: transparent;
}

.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../storage/footer-bg.jpeg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 330px;
}
@media (max-width: 599px) {
  .footer {
    height: auto;
    background-position: left;
  }
}
.footer-container {
  color: white;
  flex: 1;
  display: flex;
  align-items: center;
}
@media (max-width: 599px) {
  .footer-container {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .footer-container {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .footer-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media (max-width: 599px) {
  .footer-container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.footer-container-block {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 599px) {
  .footer-container-block {
    flex-direction: column;
    gap: 15px;
  }
}
.footer-container-block .block {
  flex: 1;
}
.footer-container-block .block-header {
  height: 60px;
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (min-width: 600px) and (max-width: 1199px) {
  .footer-container-block .block-header h2 {
    font-size: 1.1em;
    gap: 5px;
  }
}
.footer-container-block .block-header img {
  height: 40px;
}
.footer-container-block .block-header p {
  margin: 0;
  font-size: 1.2em;
  font-weight: 400;
  color: #61C2C7;
}
.footer-container-block .block-links {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-container-block .block-links li a {
  color: white;
}
.footer-container-block .block-newsletter .newsletter-input {
  background-color: white;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 100px;
  justify-content: space-between;
  padding: 5px;
}
.footer-container-block .block-newsletter .newsletter-input input {
  flex: 1;
  height: 100%;
  border-radius: 100px;
  border: none;
  padding: 15px;
  background: transparent;
}
.footer-container-block .block-newsletter .newsletter-input button {
  background-color: #61C2C7;
  padding: 0 22.5px;
  height: 40px;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  color: white;
  font-weight: 600;
  border-radius: 100px;
  border: 2px solid #61C2C7;
  transition: all ease 0.2s;
  cursor: pointer;
  gap: 5px;
}
.footer-container-block .block-newsletter .newsletter-input button:hover {
  background-color: transparent;
  color: #61C2C7;
}
.footer-container-block .block-newsletter small {
  color: red;
  margin: 5px 0 0;
}
.footer-container-block .block-newsletter p {
  font-size: 0.9em;
}
.footer-copy {
  background: #61C2C7;
}
.footer-copy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}
@media (max-width: 599px) {
  .footer-copy-container {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .footer-copy-container {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .footer-copy-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media (max-width: 599px) {
  .footer-copy-container {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.footer-copy-container p {
  margin: 0;
  color: #F7F7F8;
  font-size: 0.8em;
}
.footer-copy-container ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}
.footer-copy-container ul li a {
  color: #F7F7F8;
}

.form-input input,
.form-input textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid lightgray;
  resize: none;
  background: transparent;
  margin-top: 10px;
}
.form-input input.invalid,
.form-input textarea.invalid {
  border-color: red;
  color: red;
}
.form-input label {
  color: red;
  font-size: 0.9em;
}
.form-input button {
  margin-top: 15px;
  background-color: #61C2C7;
  padding: 0 22.5px;
  height: 40px;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  color: white;
  font-weight: 600;
  border-radius: 100px;
  border: 2px solid #61C2C7;
  transition: all ease 0.2s;
  cursor: pointer;
}
.form-input button:hover {
  background-color: transparent;
  color: #61C2C7;
}

.errors {
  padding: 0;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.errors li {
  background: #ffe6e6;
  color: red;
  font-size: 0.9em;
  padding: 10px;
}

.modal {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.modal-box {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 0 0 5px -1px black;
  position: relative;
}
.modal-box-close {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 11;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: none;
  background: white;
  box-shadow: 0 0 5px -1px black;
  color: red;
  cursor: pointer;
}
.modal-box-container {
  background: white;
  padding: 15px;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.modal-pet-header {
  margin-bottom: 20px;
}
.modal-pet-header h3,
.modal-pet-header p {
  margin: 0;
}
.modal-pet-input {
  max-width: 500px;
}

.pages-header {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-18deg, #87d1d4, #bfe6e8 60%);
  position: relative;
  flex-direction: column;
}
.pages-header:before {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background-image: radial-gradient(#bfe6e8 3px, transparent 3px);
  background-size: 30px 30px;
  content: "";
  z-index: 1;
}
.pages-header-title {
  z-index: 2;
}
.pages-header-title h2 {
  font-size: 3.5em;
  color: white;
  z-index: 2;
  margin: 0;
  line-height: 1;
}
.pages-content {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  padding: 60px 22.5px !important;
}
@media (max-width: 599px) {
  .pages-content {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .pages-content {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .pages-content {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media (max-width: 599px) {
  .pages-content {
    flex-direction: column;
  }
}
.pages-content-text p {
  text-align: justify;
  color: #2E2E2E;
}
.pages-content-info {
  flex: 1;
}
.pages-content-info .block {
  background-color: white;
  padding: 30px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 0 10px 0 lightgray;
  border-radius: 5px;
}
.pages-content-info .block-item a {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;
  color: #2E2E2E;
}
.pages-content-form {
  flex: 2;
}
@media (min-width: 600px) and (max-width: 1199px) {
  .pages-content-form {
    flex: 4;
  }
}
.pages-content-form h2,
.pages-content-form p {
  margin: 0;
}
.pages-content-form p {
  margin-bottom: 20px;
}

.pagination {
  padding: 0;
  display: flex;
  gap: 5px;
}
.pagination li {
  border: 1px solid lightgray;
}
.pagination li.disabled {
  cursor: not-allowed;
  background: #f1f1f1;
  border-color: lightgray;
}
.pagination li.disabled span,
.pagination li.disabled a {
  color: lightgray;
}
.pagination li.active {
  background: #61C2C7;
  border-color: #61C2C7;
}
.pagination li.active span {
  color: white;
}
.pagination li span,
.pagination li a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #61C2C7;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
