$paddingBanner: 150px;

.banner {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(-18deg, lighten($primary, 20%), lighten($primary, 35%) 80%);

    &-container {
        display: flex;
        align-items: center;
        height: 100vh;

        &::before {
            background: url('../storage/doctor.png');
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            background-position: center bottom;
            min-width: 25%;
            width: 100%;
            max-width: 35%;
            min-height: 80%;
            height: 100%;
            max-height: 85%;
            content: '';
            right: 10%;
            bottom: 0;

            @include tablet {
                right: -22%;
                max-width: 65%;
            }

            @include mobile-only {
                display: none;
            }
        }

        &-text {
            @include container;
            position: relative;
            z-index: 1;

            h4 {
                margin-bottom: 0;
                font-size: 22px;
                color: $primary;
            }

            h2 {
                margin: 20px 0 30px;
                line-height: 1;
                color: $text;
                font-size: 30px;

                @include tablet {
                    font-size: 40px;
                    max-width: 80%;
                }

                @include desktop {
                    max-width: 60%;
                    font-size: 60px;
                }
            }

            p {
                margin-bottom: 30px;
                color: $text;

                @include desktop {
                    max-width: 60%;
                }

                @include tablet {
                    max-width: 60%;
                }
            }

            a {
                @include button($primary, white);
            }

            &:before {
                position: absolute;
                width: 300px;
                left: -60px;
                top: -60px;
                bottom: -60px;
                background-image: radial-gradient(lighten($primary, 25%) 3px, transparent 3px);
                background-size: 30px 30px;
                content: '';
                z-index: -1;
            }
        }
    }
}
