$paddingBanner: 150px;

.banner {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(-18deg, lighten($primary, 20%), lighten($primary, 35%) 80%);

    @include mobile-only {
        padding: $paddingBanner 0;
    }

    &-container {
        display: flex;
        align-items: center;
        height: 100%;

        &-text {
            @include container;
            position: relative;
            z-index: 1;

            h4 {
                margin-bottom: 0;
                font-size: 22px;
                color: $primary;
            }

            h2 {
                margin: 20px 0 30px;
                line-height: 1;
                color: $text;
                font-size: 30px;

                @include tablet {
                    font-size: 40px;
                }

                @include desktop {
                    max-width: 70%;
                    font-size: 70px;
                }
            }

            p {
                margin-bottom: 30px;
                color: $text;

                @include desktop {
                    max-width: 60%;
                }
            }

            a {
                @include button($primary, white);
            }

            &:before {
                position: absolute;
                width: 300px;
                left: -60px;
                top: -60px;
                bottom: -60px;
                background-image: radial-gradient(lighten($primary, 25%) 3px, transparent 3px);
                background-size: 30px 30px;
                content: '';
                z-index: -1;
            }
        }
    }



    .how-it-works {
        position: absolute;
        width: 100%;
        bottom: 30px;

        @include tablet {
            bottom: 15px;
        }

        @include mobile-only {
            position: relative;
            background: $secondary;
            padding: 20px 0;
            bottom: -$paddingBanner;
        }

        &-container {
            display: flex;
            margin: 0 auto;
            width: max-content;
            background: white;
            box-shadow: 0 0 15px 0 lightgray;
            border-radius: 10px;
            overflow: hidden;
            padding: 20px;

            @include tablet {
                padding: 15px;
            }

            @include mobile-only {
                flex-direction: column;
                width: 70%;
                gap: 20px;
            }

            &-item {
                width: 160px;
                height: 90px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;

                &:not(:last-child) {
                    border-right: 1px solid lighten(lightgray, 10%);
                }

                img {
                    max-height: 55px;
                }

                span {
                    color: $text;
                    font-size: 0.9em;
                }

                @include tablet {
                    width: 140px;
                    height: 70px;
                }

                @include mobile-only {
                    width: 100%;
                    padding: 0 0 10px;

                    &:not(:last-child) {
                        border-right: 0;
                        border-bottom: 1px solid lighten(lightgray, 10%);
                    }
                }
            }
        }
    }
}
