$paddingBanner: 150px;

.banner {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-image: linear-gradient(-18deg, transparentize(lighten($primary, 20%), 0.6), transparentize(lighten($primary, 35%), 0.6) 80%), url('../storage/background.jpg');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    overflow-x: hidden;

    &-container {
        display: flex;
        align-items: center;
        height: 100vh;

        &-text {
            @include container;
            position: relative;
            z-index: 1;

            h4 {
                margin-bottom: 0;
                font-size: 22px;
                color: $primary;
            }

            h2 {
                margin: 20px 0 30px;
                line-height: 1;
                color: $title;
                font-size: 30px;

                @include tablet {
                    font-size: 40px;
                    max-width: 80%;
                }

                @include desktop {
                    max-width: 60%;
                    font-size: 52px;
                }
            }

            p {
                margin-bottom: 30px;
                color: $text;

                @include desktop {
                    max-width: 60%;
                }

                @include tablet {
                    max-width: 60%;
                }
            }

            a {
                @include button($primary, white);
            }

            &:before {
                position: absolute;
                width: 300px;
                left: -60px;
                top: -60px;
                bottom: -60px;
                background-image: radial-gradient(lighten($primary, 25%) 3px, transparent 3px);
                background-size: 30px 30px;
                content: '';
                z-index: -1;
            }
        }
    }
}
