.depoimentos {
    display: flex;
    align-items: center;
    background: linear-gradient(-18deg, lighten($primary, 10%), lighten($primary, 25%) 90%);
    position: relative;
    flex-direction: column;
    height: 515px;
    padding: 2 * $gap 0;

    &:before {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        background-image: radial-gradient(lighten($primary, 25%) 3px, transparent 3px);
        background-size: 30px 30px;
        content: '';
        z-index: 1;
    }

    &-container {
        z-index: 2;
        @include container;

        &-title {
            text-align: center;

            h3,
            p {
                color: white;
            }

            h3 {
                font-size: 2em;
                margin: 0;
                line-height: 1;
            }

            p {
                margin: 0;
            }
        }
    }

    &-slider {
        .swiper {
            &-slide {
                background-color: transparent;
                opacity: 0.6;
                transition: all ease .4s;
                filter: grayscale(1);

                &.swiper-slide-active {
                    opacity: 1;
                    filter: grayscale(0);
                }
            }

            &-pagination {
                bottom: 0;
            }
        }
    }

    &-item {
        width: 500px;
        height: 350px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 5px 5px 10px -5px rgba($color: #000000, $alpha: 0.4);
        padding: 2 * $gap;

        &-header {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 64px !important;
                height: 64px !important;
                object-fit: cover;
            }

            p {
                margin: 0;
                text-align: left;
            }
        }

        &-content {
            text-align: left;
            margin: $gap 0;
            overflow: hidden;

            h5,
            p,
            span {
                margin: 0;
                color: $text;
            }

            p {
                margin: 10px 0;
                font-size: 0.8em;
                word-wrap: break-word;
            }

            span {
                small {
                    color: lightgray;
                    font-size: 0.6em;
                }
            }
        }
    }
}
