.hiw {
    @include container;

    &-title {
        text-align: center;
        padding: 100px 0 40px;

        h4 {
            margin: 0;
            font-size: 2.5em;
            color: $title;
        }
    }

    &-container {
        padding-bottom: 120px;
        display: flex;
        gap: $gap;

        @include mobile-only {
            flex-direction: column;
            padding-bottom: 80px;
        }

        @include tablet {
            flex-wrap: wrap;
        }

        &-step {
            box-shadow: 2px 4px 10px -2px lightgray;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            padding: $gap;
            color: $text;
            background: white;
            flex: 1;
            text-align: center;
            transition: all ease-in-out .2s;

            @include tablet {
                flex: 30%;
            }

            img {
                max-height: 70px;
                margin: 10px auto 20px;
            }

            p {
                margin: 0;
                font-weight: 600;
                color: $title;
            }

            span {
                font-size: 0.8em;
                color: $text;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
