@import 'variables';

@mixin button($background, $fontColor) {
    background-color: $background;
    padding: 0 1.5*$gap;
    height: 40px;
    display: flex;
    width: max-content;
    align-items: center;
    color: $fontColor;
    font-weight: 600;
    border-radius: 100px;
    border: 2px solid $background;
    transition: all ease .2s;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: $background;
    }
}

@mixin container {
    @include mobile-only {
        width: 100%;
        padding: 0 $gap;
    }

    @include tablet {
        width: 90%;
        margin: 0 auto;
    }

    @include desktop {
        width: 1200px;
        margin: 0 auto;
        padding: 0 $gap;
    }
}

@mixin section {
    border-radius: 3px;
    box-shadow: 0 0 10px -2px lightgray;
    margin: 0;
    background: white;
    height: 100%;
}

@keyframes shadow-pulse-primary {
    0% {
        box-shadow: 0 0 0 0px transparentize($primary, .2);
    }

    100% {
        box-shadow: 0 0 0 10px transparent;
    }
}

@keyframes shadow-pulse-white {
    0% {
        box-shadow: 0 0 0 0px transparentize(white, .2);
    }

    100% {
        box-shadow: 0 0 0 10px transparent;
    }
}

@keyframes shadow-pulse-pet {
    0% {
        box-shadow: 0 0 0 0px transparentize($pet, .2);
    }

    100% {
        box-shadow: 0 0 0 10px transparent;
    }
}
