.nav {
    height: 60px;
    width: 100%;
    transition: all ease .2s;
    position: fixed;
    z-index: 9;
    top: 0;

    &.fixed {
        background-color: rgba(255, 255, 255, .98);
        box-shadow: 0 0 10px -2px lightgray;

        .nav {
            &-navbar {
                &-links {
                    &-link {
                        color: $text;

                        &.active {
                            color: $primary;

                            @include mobile-only {
                                color: rgba(255, 255, 255, .92);
                            }
                        }
                    }
                }
            }
        }
    }

    &-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        @include container;

        &-logo {
            display: flex;
            gap: $gap;
            align-items: center;
            height: 50px;

            img {
                height: 100%;
            }

            p {
                margin: 0;
                font-size: 1.2em;
                font-weight: 400;
                color: $primary;
            }
        }

        &-links {
            gap: $gap;
            height: 100%;
            display: flex;

            @include mobile-only {
                position: fixed;
                height: calc(100% - 60px);
                width: 100%;
                right: -100%;
                top: 60px;
                flex-direction: column;
                gap: 0;
                transition: all ease .4s;
                background-color: white;

                &.open {
                    right: 0;
                }
            }

            @include tablet {
                position: fixed;
                height: auto;
                width: 100%;
                right: 0;
                top: -100%;
                flex-direction: column;
                background-color: white;
                transition: all ease .4s;
                padding: 10px 0;

                &.open {
                    top: 60px;
                }
            }

            &-link {
                color: $text;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                cursor: pointer;

                @include mobile-only {
                    color: $text;
                    height: 60px;
                    padding: 0 $gap;
                    width: 100%;

                    &:not(:last-child) {
                        border-bottom: 1px solid lightgray;
                    }
                }

                @include tablet {
                    height: 50px;
                    padding: 0 $gap;
                    justify-content: flex-start;
                }

                &:last-child {
                    @include tablet {
                        display: none;
                    }
                }

                span {
                    @include button($primary, white);
                    gap: 5px;
                }

                &.active {
                    color: $primary;
                    border-bottom: 1.5px solid;

                    @include mobile-only {
                        color: $bg;
                        background-color: $primary;
                    }
                }
            }

            .dropdown {
                position: relative;
                display: inline-block;

                &-button {
                    p {
                        margin: 0;
                    }

                    img {
                        max-height: 65%;
                        border-radius: 100px;
                    }
                }

                &-content {
                    display: none;
                    position: absolute;
                    background-color: white;
                    box-shadow: 0 2px 5px -2px lightgray;
                    z-index: 1;
                    flex-direction: column;
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;

                    @include tablet {
                        background: white;
                        box-shadow: none;
                        width: 100%;
                        top: 60px;
                        border-top: 1px solid lightgray;
                    }

                    @include mobile-only {
                        background: white;
                        box-shadow: none;
                        width: 100%;
                    }

                    a {
                        color: $text;
                        height: 50px;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        padding: 0 $gap;
                        cursor: pointer;

                        &:not(:last-child) {
                            border-bottom: 1px solid lightgray;
                        }

                        @include mobile-only {
                            justify-content: center;
                            height: 60px;
                        }

                        @include tablet {
                            &:not(:last-child) {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }

        &-cta {
            display: none;

            @include tablet {
                @include button($primary, white);
                display: flex;
                gap: 5px;
            }
        }

        &-toggle {
            display: flex;
            gap: 5px 0;
            flex-direction: column;
            position: relative;

            span {
                width: 25px;
                height: 2px;
                content: '';
                background-color: $text;
                transition: all ease .3s;
                opacity: 1;
            }

            &.open {
                span {
                    &:first-child {
                        opacity: 0;
                    }

                    &:nth-child(2) {
                        transform: rotateZ(45deg);
                        position: absolute;
                        top: 7px;
                    }

                    &:last-child {
                        transform: rotateZ(-45deg);
                    }
                }
            }

            @include desktop {
                display: none;
            }
        }
    }
}
