.pet {
    background-color: $primary;

    @include mobile-only {
        padding: 50px 0;
    }

    &-container {
        background-image: linear-gradient(to left, transparentize($primary, 0.8), transparentize($primary, 0.2) 80%), url('../storage/pet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top right;

        @include mobile-only {
            background-position: center;
            background-blend-mode: color;
        }

        &-text {
            @include container;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 400px;
            color: white;
            flex-direction: column;

            h2 {
                font-size: 40px;
                margin: 0;

                @include tablet {
                    text-align: center;
                }
            }

            p {
                margin: 0;
            }

            button,
            a {
                @include button(white, $primary);
                margin: 40px auto 0;
            }
        }
    }
}

body {
    &.is-pet {
        .nav {
            &.fixed {
                .nav {
                    &-navbar {
                        &-links {
                            &-link {
                                &.active {
                                    color: $secondary;
                                }
                            }
                        }
                    }
                }
            }

            &-navbar {
                &-links {
                    &-link {
                        color: $bg;

                        &.active {
                            color: $secondary;

                            @include mobile-only {
                                color: $bg !important;
                                background-color: $secondary;
                            }
                        }

                        span {
                            @include button($secondary, white);
                        }
                    }
                }

                &-cta {
                    @include tablet {
                        @include button($secondary, white);
                    }
                }
            }
        }

        .banner {
            background-image: linear-gradient(-18deg, transparentize(lighten($secondary, 20%), 0.6), transparentize(lighten($secondary, 35%), 0.6) 80%), url('../storage/background-pet.jpeg');

            &-container {
                &::before {
                    background: url('../storage/dog.png');
                    background-size: 100%;
                    background-repeat: no-repeat;
                }

                &-text {
                    h4 {
                        color: $secondary;
                    }

                    h2 {
                        color: $bg;
                    }

                    p {
                        color: $bg
                    }

                    a {
                        @include button($secondary, white);
                    }

                    &::before {
                        background-image: radial-gradient(lighten($secondary, 25%) 3px, transparent 3px);
                    }
                }
            }
        }

        .to-top {
            background-color: $secondary;
        }

        .blog {
            &-container {
                &-link {
                    @include button($secondary, white);
                }

                .posts {
                    &-item {
                        &-footer {
                            a {
                                color: $secondary;
                            }
                        }
                    }
                }
            }
        }

        .depoimentos {
            background: linear-gradient(-18deg, lighten($secondary, 10%), lighten($secondary, 25%) 90%);

            &::before {
                background-image: radial-gradient(lighten($secondary, 25%) 3px, transparent 3px);
            }
        }

        .footer {
            background-color: $secondary;

            &-container {
                &-block {
                    .block {
                        &-header {
                            h2 {
                                color: white;
                            }
                        }

                        &-links {
                            li {
                                a {
                                    color: white;
                                }
                            }
                        }

                        &-newsletter {
                            .newsletter {
                                &-input {
                                    button {
                                        @include button($secondary, white);
                                    }
                                }
                            }

                            p {
                                color: white;
                            }
                        }
                    }
                }
            }

            &-copy {
                background: darken($color: $secondary, $amount: 10%);

                &-container {
                    p {
                        color: white;
                    }

                    ul {
                        li {
                            a {
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        .enviar {
            &-buttons {
                button {
                    &.next {
                        @include button($secondary, white);
                    }
                }

                &.submit {
                    @include button($secondary, white);
                    width: 100%;
                    justify-content: center;
                }
            }
        }
    }
}
