.enviar {
    padding: 9* $gap 0;
    background: $bg;

    &-container {
        @include container;

        &-steps {
            display: flex;
            gap: $gap;
            width: 100%;

            &-step {
                flex: 1;
                background: white;
                border-radius: 5px;
                box-shadow: 0 0 10px -2px lightgray;
                transition: all ease .2s;
                padding: $gap;

                &-header {
                    h3 {
                        margin: 0;
                        color: $title;
                    }
                }

                &-inputs {
                    margin-top: $gap;
                    display: flex;
                    flex-direction: column;
                    gap: $gap;

                    .enviar-input {
                        display: flex;
                        gap: 5px;
                        justify-content: space-between;

                        input {
                            width: 100%;
                            padding: 7px;
                            border: 1px solid $bg;
                            border-radius: 3px;

                            &:read-only {
                                cursor: not-allowed;
                            }
                        }
                    }
                }

                &.inativo {
                    box-shadow: none;
                    cursor: not-allowed;

                    input {
                        background: $bg;
                        border-color: $bg;
                        color: gray;
                        cursor: not-allowed;
                    }
                }
            }
        }
    }

    &-buttons {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;

        button {
            &.next {
                @include button($primary, white)
            }

            &.previous {
                @include button(lightgray, white)
            }
        }
    }
}
