.enviar {
    padding: 0 0 2* $gap;
    background: $bg;

    &-container {
        @include container;

        &-steps {
            display: flex;
            gap: $gap;
            width: 100%;

            &-step {
                flex: 1;
                background: white;
                border-radius: 10px;
                box-shadow: 0 0 10px -2px lightgray;
                transition: all ease .2s;
                padding: $gap;
                color: $text;

                p {
                    font-size: 0.9em;

                    a {
                        text-decoration: underline;
                        color: $text;
                    }
                }

                &-header {
                    h3 {
                        margin: 0;
                        color: $title;
                    }
                }

                &-inputs {
                    margin-top: $gap;
                    display: flex;
                    flex-direction: column;
                    gap: $gap;

                    .enviar-input {
                        display: flex;
                        gap: 5px;
                        align-items: center;

                        input {
                            width: 100%;
                            padding: 7px;
                            border: 1px solid lightgray;
                            border-radius: 3px;

                            &[type="checkbox"] {
                                width: auto;
                                cursor: pointer;
                            }

                            &:not([type="checkbox"]) {
                                &:read-only {
                                    cursor: not-allowed;
                                    border-color: $bg;
                                }
                            }
                        }
                    }

                    &-cards {
                        label {
                            border: 1px solid lightgray;
                            display: flex;
                            flex-direction: column;
                            padding: 10px;
                            border-radius: 5px;
                            box-shadow: 0 0 10px -2px lightgray;
                            cursor: pointer;
                            text-align: left;
                            background-color: transparent;

                            p,
                            small {
                                margin: 0;
                            }

                            p {
                                font-weight: bold;
                            }

                            small {
                                font-style: italic;
                                font-size: 12px;
                            }

                            &.selected {
                                border-color: $primary;
                                box-shadow: 0 0 10px -2px $primary;
                            }

                            .card-group {
                                display: flex;
                                gap: 5px;
                                align-items: center;
                                height: 30px;
                            }
                        }
                    }
                }

                &.inativo {
                    box-shadow: none;
                    display: none;

                    @include desktop {
                        display: flex;
                        flex-direction: column;
                    }

                    input {
                        background: $bg;
                        border-color: $bg;
                        color: gray;
                    }
                }
            }
        }
    }

    &-buttons {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;

        button {
            &.next {
                @include button($primary, white);
            }

            &.previous {
                @include button(lightgray, white)
            }
        }

        &.submit {
            @include button($primary, white);
            width: 100%;
            justify-content: center;

            &:disabled {
                @include button(lightgray, white);
                cursor: not-allowed;
                width: 100%;
                justify-content: center;
            }
        }
    }
}
