.team {
    background: $bg;
    padding: 60px 0;
    background-image: url('../storage/team-banner.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 40% auto;

    @include tablet {
        padding: 5px 0;
        background-size: 55% auto;
    }

    @include mobile-only {
        padding: 230px 0 5px;
        background-position: top;
        background-size: 100% auto;
    }

    &-container {
        @include container;

        &-text {
            color: $text;
            padding: 0 $gap 0 0;
            width: 65%;

            @include tablet {
                width: 40%;
            }

            @include mobile-only {
                width: 100%;
            }

            h4 {
                font-size: 1.8em;
            }
        }
    }
}
