.why-us {
    padding: 50px 0;
    background: $bg;

    @include desktop {
        padding: 150px 0;
    }

    &-container {
        @include container;
        display: flex;
        justify-content: space-between;
        gap: 2 * $gap;

        @include mobile-only {
            flex-direction: column;
            gap: 20px 0;
        }

        @include tablet {
            flex-direction: column-reverse;
        }

        &-image {
            flex: 1;

            img {
                width: 100%;
            }
        }

        &-text {

            flex: 1;

            @include tablet {
                margin-bottom: 40px;
            }

            &-content {
                color: $text;

                h5 {
                    font-size: 40px;
                    margin: 0;
                    color: $title;
                }

                span {
                    color: $primary;
                }

                p {
                    margin: 20px 0;
                }

                a {
                    @include button($primary, white);
                }
            }
        }
    }
}
