.why-us {
    padding: 50px 0;
    background: $bg;

    @include desktop {
        padding: 100px 0 50px;
    }

    &-container {
        @include container;
        display: flex;
        justify-content: space-between;

        @include mobile-only {
            flex-direction: column;
            gap: 20px 0;
        }

        @include tablet {
            flex-direction: column-reverse;
        }

        &-boxes {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;

            .boxes {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;

                @include desktop {
                    gap: 30px;
                }

                @include tablet {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }

                &-item {
                    box-shadow: 2px 4px 10px -2px lightgray;
                    display: flex;
                    flex-direction: column;
                    border-radius: 5px;
                    padding: $gap;
                    color: $text;
                    background: white;
                    height: 100%;
                    width: 160px;

                    @include desktop {
                        height: 200px;
                        width: 200px;
                    }

                    img {
                        max-height: 64px;
                        margin: 10px auto 20px;
                    }

                    p {
                        margin: 0;
                        font-weight: 600;
                    }

                    span {
                        font-size: 0.8em;
                    }
                }
            }
        }

        &-text {
            flex: 1;

            @include tablet {
                margin-bottom: 40px;
            }

            &-content {
                color: $text;

                h5 {
                    font-size: 40px;
                    margin: 0;
                }

                span {
                    color: $secondary;
                }

                p {
                    margin: 20px 0;
                }

                a {
                    @include button($primary, white);
                }
            }
        }
    }
}
